<div class="row">
    <div class="span10">
        <h2>Clientes</h2>
    </div>
</div>
<div class="row">
    <div class="span10">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="cliente in clientes">
                <td>{{cliente.codigo}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
            </tr>
        </table>
    </div>
</div>
